.box.user-profile {
    min-height: 100%; /* Adjust the value as needed */
}

.profile-image {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon.is-right {
    pointer-events: auto; /* This line ensures that the icon can be clicked */
}

.icon.is-right {
    z-index: 1; /* Ensure the icon is above other elements */
}